page-about {
    .about-container {
        font-family: "Avenir" !important;
        font-size: 18px;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 8%;
        text-align: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;

        ion-icon {
            margin-top: 12%;
            width: 100%;
            color: #ff9300;
            font-size: 35px;
        }
    }
}
