page-login {
    .input-field {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    .container {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        height:100%;
    }

    .buttons {
        display: flex;
    }

    .login-button {
        margin-left: 10%;
    }

    .signup-button {
        
    }
}
