
<ion-header>
  <ion-navbar>
    <ion-title>{{episode?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="details-bg-color">
  <div class="backdrop" *ngIf="episode">
    <img *ngIf="episode.still_path" [src]="'https://image.tmdb.org/t/p/original' + episode.still_path">

  </div>

    <div padding class="episode-data" *ngIf="episode">
        <div class="name">{{ episode.name }}</div>
        <div class="year">{{ episode.air_date }}</div>
        <div class="vote">
          <div class="text">
            <b>{{ episode.vote_average }}</b>/10
          </div>
          
          <div class="count">{{ episode.vote_count }} votes</div>
        </div>
    
        <div padding class="overview">{{ episode.overview }}</div>
    
        
    
        
    
      </div>

</ion-content>
