<ion-header>
  <ion-navbar>
    <ion-title text-center>{{ episode?.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="details-bg-color">

  <div class="backdrop" *ngIf="episode">
    <img *ngIf="episode.still_path" [src]="'https://image.tmdb.org/t/p/original' + episode.still_path" />
  </div>

  <div class="buttons">
    <div class="button">
      <button ion-button icon-only clear large (click)="getDetails(show.id)">
        <ion-icon name="ios-information-circle-outline"></ion-icon>
      </button>
    </div>

    <div class="button">
      <button ion-button icon-only clear large (click)="getDetails(show.id)">
        <ion-icon name="ios-share-outline"></ion-icon>
      </button>
    </div>

  </div>

  <div class="show-progress" *ngIf="episode">
    <div class="progress">Season {{ episode.season_number }}
      <div class="progress-bar">
        <div class="light-grey">
          <div class="grey" [ngStyle]="{'width': seasonProgress+'%'}"></div>
        </div>
      </div>
    </div>

    <div class="progress">Episode {{ episode.episode_number}}
      <div class="progress-bar">
        <div class="light-grey">
            <div class="grey" [ngStyle]="{'width': episodeProgress+'%'}"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="episode-data" *ngIf="episode">
    <div class="date">{{ episode.air_date | date:'MMMM dd, yyyy' }}</div>
    <br>
    <div class="vote">
      <div class="text">
        <b>{{ episode.vote_average }}</b>/10
      </div>
      <div class="stars">
        <ion-icon
          [name]="episode.vote_average >= 2 ? 'star' : episode.vote_average >= 1 ? 'star-half' : 'star-outline'">
        </ion-icon>
        <ion-icon
          [name]="episode.vote_average >= 4 ? 'star' : episode.vote_average >= 3 ? 'star-half' : 'star-outline'">
        </ion-icon>
        <ion-icon
          [name]="episode.vote_average >= 6 ? 'star' : episode.vote_average >= 5 ? 'star-half' : 'star-outline'">
        </ion-icon>
        <ion-icon
          [name]="episode.vote_average >= 8 ? 'star' : episode.vote_average >= 7 ? 'star-half' : 'star-outline'">
        </ion-icon>
        <ion-icon
          [name]="episode.vote_average >= 10 ? 'star' : episode.vote_average >= 9 ? 'star-half' : 'star-outline'">
        </ion-icon>
      </div>
      <div class="count">{{ episode.vote_count }} votes</div>
    </div>

    <div class="overview">{{ episode.overview }}</div>
  </div>
</ion-content>