page-episode-details {
  ion-header {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(153, 151, 153, 0.3);
    -moz-box-shadow: 0px 4px 5px 0px rgba(153, 151, 153, 0.3);
    box-shadow: 0px 4px 5px 0px rgba(153, 151, 153, 0.3);
  }
  .backdrop {
    position: relative;
    height: 200px;
    overflow: hidden;
    background: #ddd;
    img {
      opacity: 1;
      width: 100%;
      height: 200px;
      object-fit: cover;
      position: absolute;
    }
  }
  .episode-data {
    font-family: Avenir;
    padding: 40px 30px 30px 30px;

    .date {
      color: #aaa;
      font-size: 20px !important;
      float: left;
      font-family: Avenir-Heavy !important;
    }
    .vote {
      position: absolute;
      padding-top: 20px;
      margin-bottom: 20px;
      b {
        color: #4f4f4f !important;
      }
      .text {
        float: left;
        color: #aaa;
        font-size: 13px;
        b {
          font-weight: 600;
          font-size: 16px;
          color: #222;
        }
      }
      .stars {
        float: left;
        padding-left: 10px;
        font-size: 20px;
        ion-icon {
          color: #fbcd00;
          line-height: 0px;
        }
      }
      .count {
        clear: both;
        color: #ccc;
      }
    }
    .overview {
      margin-top: 80px;
      font-size: 18px;
      line-height: 30px;
      padding: 15px 0 15px 0;
      color: #4f4f4f !important;
      font-family: Avenir-Light !important;
    }
  }

  .buttons {
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(153, 151, 153, 0.3);
    -moz-box-shadow: 0px 4px 5px 0px rgba(153, 151, 153, 0.3);
    box-shadow: 0px 4px 5px 0px rgba(153, 151, 153, 0.3);
  }

  .button {
    display: inline-block;
    width: 50%;
  }

  .show-progress {
    color: #4f4f4f !important;
    padding: 40px 40px 0px 40px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: Avenir;
  }

  #progress {
    width: 10px;
    border-bottom: 2px solid red;
  }

  .line {
    position: absolute;
    width: 112px;
    height: 5px;
    margin-left: 25px;
    border-bottom: 1px solid grey;
  }

  .progress {
    font-size: 1.5em;
    display: inline-block;
    width: 50%;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  hr.progress {
    width: 10px;
    border-bottom: 2px solid red;
  }

  .grey {
    background-color: #9e9e9e !important;
    height: 4px;
  }

  .light-grey {
    background-color: #f1f1f1 !important;
    margin: 0 !important;
    width: 100px;
  }

  .progress-bar {
    align-content: center;
    margin: auto;
    width: 100px;
  }
}
