<ion-header no-border>
  <ion-navbar>
    <ion-title text-center>My Vault</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="selectedList" (ionChange)="optionsID=undefined">
      <ion-segment-button value="alreadyWatched" (click)="selectedTab('alreadyWatched')">
        ALREADY WATCHED
      </ion-segment-button>
      <ion-segment-button value="watchList" (click)="selectedTab('watchList')">
        WATCHLIST
      </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="bg-color">
  <ion-slides #slider initialSlide="1" (ionSlideWillChange)="moveButton($event)" (swipe)="swipeEvent($event)">
    <ion-slide>
      <ion-grid class='gestures'>
        <ion-row>
          <ion-col col-6 col-sm-3 col-md-3 col-lg-2 *ngFor="let id of getAlreadyWatchedTitles()" class="poster">
            <img src="{{'https://image.tmdb.org/t/p/w500'+alreadyWatched[id]}}" ion-long-press class="poster" (onPressStart)="optionsID=id"
              (click)='getDetails(id)'>
            <div class="overlay" *ngIf="optionsID == id">
              <div class="icons">
                <ion-icon [name]="selectedList=='watchList' ? 'archive' : 'add-circle'" (tap)="moveToOtherList(id)">
                </ion-icon><br>
                <ion-icon name="trash" (tap)="removeFromAlreadyWatched(id)"></ion-icon>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid class='gestures'>
        <ion-row>
          <ion-col col-6 col-sm-3 col-md-3 col-lg-2 *ngFor="let id of getWatchListTitles()" class="poster">
            <img src="{{'https://image.tmdb.org/t/p/w500'+watchList[id]}}" ion-long-press class="poster" (onPressStart)="optionsID=id"
              (click)='getDetails(id)'>
            <div class="overlay" *ngIf="optionsID == id">
              <div class="icons">
                <ion-icon [name]="selectedList=='watchList' ? 'archive' : 'add-circle'" (tap)="moveToOtherList(id)">
                </ion-icon><br>
                <ion-icon name="trash" (tap)="removeFromWatchList(id)"></ion-icon>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>