<ion-header>
  <ion-navbar>
    <ion-title>MyVault</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedList" (onchange)="getTitles()">
    <ion-segment-button value="alreadyWatched">
      Already Watched
    </ion-segment-button>
    <ion-segment-button value="watchList">
      Watchlist
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="getTitles(); else no_content" class="already-watched-list">      
    
    <ion-list>
      <ion-item-sliding *ngFor="let id of getTitles()">
        <ion-item >
          <img [src]="getImageUrl(id)" (click)='getDetails(id)'>
          <button ion-button (click)="removeFromList(id)">
              delete
          </button>
        </ion-item>
        
        <ion-item-options side="end">
          <button ion-button color="danger" (click)="removeFromList(id)">
            <ion-icon name="trash"></ion-icon>Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

 <ng-template #no_content>
    <h2 style="text-align: center">List is empty</h2>
  </ng-template>
</ion-content>