page-change-password {
    .toolbar-title {
        font-size: 1.5rem !important;
    }

    .input-field {
        font-family: Avenir;
        color: color($colors, text);
    }

    .container {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        height:100%;
        padding: 10%;
    }

    .change-pw-button {
        font-family: Avenir-Black;
        background: color($colors, secondary) !important;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(189, 189, 189, 1);
        -moz-box-shadow: 2px 2px 5px 0px rgba(189, 189, 189, 1);
        box-shadow: 2px 2px 5px 0px rgba(189, 189, 189, 1);
        padding: 10%;
        width: 80%;
        margin: 10%;
    }

    .change-pw-button:active{
        background: color($colors, button-press) !important;
    }

    .error {
        color: color($colors, error) !important;
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }    

    p {
        font-family: Avenir-Heavy;
        color: #4f4f4f !important;
    }
}
