page-change-password {
    .input-field {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    .container {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        height:100%;
    }

    .button {
        background: linear-gradient(
            to bottom right,
            color($colors, primary),
            color($colors, secondary)
        );
        width: auto;
        padding: 5%;
        margin: 6%;
        margin-left: 10%;
    }

    .error {
        padding-left: 10%;
        width: 80%;
        font-size: 15px;
        color: color($colors, danger);
    }
}
