page-discover {
    .poster {
        width: 100%;
        height: 250px;
        border-radius: 6px;
        img.poster {
            width: 100%;
            height: 240px;
            object-fit: cover;
        }
    }
}
