page-discover {
    .poster {
        width: 100%;
        height: 270px;
        border-radius: 6px;
        img.poster {
            width: 100%;
            height: 260px;
            object-fit: cover;
        }
    }
    ion-label {
        max-width: 75px !important;
        position: flex;
      }
      ion-select {
        max-width: 300px;
        padding-right: 60px !important;
        color:#408ABE;
      }
}
