page-search {
    .poster {
        width: 100%;
        height: 270px;
        border-radius: 6px;
        img.poster {
            width: 100%;
            height: 260px;
            object-fit: cover;
        }
    }
}
