page-search {
  ion-header {
    padding-bottom: 15px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(153, 151, 153, 0.3);
    -moz-box-shadow: 0px 4px 5px 0px rgba(153, 151, 153, 0.3);
    box-shadow: 0px 4px 5px 0px rgba(153, 151, 153, 0.3);
  }

  .poster {
    width: 100%;
    height: 270px;
    border-radius: 3px;
    img.poster {
      width: 100%;
      height: 260px;
      object-fit: cover;
    }
    .icons {
      position: absolute;
      border-radius: 3px;
      bottom: 1px;
      left: calc(50% - (40px / 2));
      background-color: white;
      width: 40px;
      height: 25px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }
    ion-icon {
      cursor: pointer;
    }
  }

  .search-imdb {
    padding: 0px 16px 16px 16px;
  }

  ion-searchbar {
    background-color: white !important;
    padding: 0px 16px 16px 16px;
    font-family: Avenir;
}
}
