page-search {
    .poster {
        width: 100%;
        height: 270px;
        border-radius: 3px;
        img.poster {
            width: 100%;
            height: 260px;
            object-fit: cover;
        }
        .icons {
            position: absolute;
            border-radius: 3px;
            bottom: 1px;
            left: calc(50% - (40px / 2));
            background-color: white;
            width: 40px;
            height: 25px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
          }
          ion-icon {
            cursor:pointer;
          }
    }
}
