<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="search-imdb" padding>
    <ion-searchbar #title type="search" (keyup.enter)="search(title.value)" placeholder="Search for a title..."
      clear-input=true padding>
    </ion-searchbar>
  </div>

  <ion-grid *ngIf="isValidSearch()">
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-2 class="poster" *ngFor="let title of getResults()">
        <img src="{{'https://image.tmdb.org/t/p/w500'+title.poster_path}}" class="poster" (click)='getDetails(title)' />
        <div class="icons">
          <ion-icon *ngIf="inWatchList(title.id)" name="checkmark" color="danger"
            (click)="removeFromWatchList(title.id)"></ion-icon>
          <ion-icon *ngIf="!inWatchList(title.id)" name="add" color="primary" (click)="addToWatchList(title)">
          </ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="isNotFound()">
    <p>No tv shows found with that title</p>
  </div>

  <div *ngIf="isNotProvided()">
    <p>Please provide a title to search for</p>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>