<ion-header>
  <ion-navbar>
    <div *ngIf="loaded">
    <ion-title text-center>
      {{title.name}}
    </ion-title>
    </div>
    <ion-buttons end> 
      <button ion-button icon-only (click)="openModal()"> 
      <ion-icon name="list"></ion-icon> 
    </button> 
  </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="loaded">
    <img src="{{'https://image.tmdb.org/t/p/w500/'+title.backdrop_path}}" />
    <p padding >{{title.overview}}</p>

    <div class="buttons"> 
        <div class="button" *ngIf="inList()">
          <button ion-button icon-only (click)="removeFromWatchList()">
            <ion-icon name="close"></ion-icon>
        </button>
      </div>
      <div class="button" *ngIf="!inList()">
          <button ion-button icon-only (click)="addToWatchList()">
            <ion-icon name="add"></ion-icon>
        </button>
      </div>
        <div class="button">
          <button ion-button icon-only (click)="action2()">
            <ion-icon name="share"></ion-icon>
        </button>
     
      </div>
    </div>
  </div> 

</ion-content>
